html {
  font-family: sans-serif;
}

h1 {
  margin: 2rem;
}

.content {
  width: 60%;
  margin: 0 auto;
}

time {
  display: block;
  padding-top: .5rem;
}

nav, footer {
  padding-top: 1.5rem;
}

.post img {
  max-width: 100%;
}

a {
  color: #1F2F6F;
}

a:visited {
  color: #401f6f;
}

@media (max-width: 1000px) {
  .content {
    width: 90%;
  }

  h1 {
    margin: .5rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #262626;
      color: #DDDDDD;
  }

  a {
    color: #AFF3FE;
  }

  a:visited {
    color: #D4B5EB;
  }
}
